{% extends 'shop/base.html' %}
{% block content %}
    <h1>Acme Shopping: Product Details</h1>
    
    <p>Product {{ product.id }}: <a href="{% url 'shop:product_edit' id=product.id %}">Edit</a>
      This is product {{ product.name }} which costs
      {{product.price}}. The product was added on: {{ product.created_date }} 
   </p>
   <p>
    <form action="{% url 'shop:basket_add' product.id %}" method="post">
      {{ basket_product_form }}
      {% csrf_token %}
      <input type="submit" value="Add to Basket">
    </form>
       </p>
   <p><a href="{% url 'shop:product_delete' id=product.id %}">Delete the product</a></p>
    {% endblock %}
    